.about_container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #351C0A;
  padding: 80px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about_container .section_content {
  width: 56%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
  background-color: rgb(255, 222, 197);
  text-align: justify;
  box-shadow: 20px 20px 0 rgb(164, 113, 65);
  z-index: 1;
  position: relative;
}
.about_container .section_content h2 {
  color: rgb(164, 113, 65);
  font-size: 16px;
}
.about_container .section_content h1 {
  color: #351C0A;
  font-size: 42px;
}
.about_container .section_content p {
  margin: 30px 0;
  width: 95%;
  font-size: 18px;
}
.about_container .section_photos {
  position: relative;
  z-index: 0;
  display: grid;
  grid-auto-flow: column;
  height: -moz-fit-content;
  height: fit-content;
  width: 30%;
  justify-content: center;
  gap: 16px;
}
.about_container .section_photos .photos {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.about_container .section_photos img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0px 16px 16px 0px;
}
.about_container .section_photos #img3 {
  width: 100%;
  height: 100%;
}

@media (min-width: 790px) and (max-width: 1300px) {
  .about_container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #351C0A;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about_container .section_content {
    position: relative;
    left: 0;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    background-color: rgb(255, 222, 197);
    text-align: justify;
    box-shadow: 20px 20px 0 rgb(164, 113, 65);
    z-index: 1;
  }
  .about_container .section_photos {
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0;
  }
  .about_container .section_photos .photos {
    flex-direction: row;
    gap: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .about_container .section_photos .photos #img1, .about_container .section_photos .photos #img2 {
    width: 45%;
    height: 260px;
    object-fit: cover;
    object-position: center;
  }
  .about_container .section_photos .photos #img3 {
    display: none;
  }
}
@media (min-width: 520px) and (max-width: 790px) {
  .about_container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #351C0A;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_container .section_content {
    position: relative;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    background-color: rgb(255, 222, 197);
    text-align: justify;
    box-shadow: none;
    outline: 10px solid rgb(164, 113, 65);
    z-index: 1;
  }
  .about_container .section_content h2 {
    color: rgb(164, 113, 65);
    font-size: 16px;
  }
  .about_container .section_content h1 {
    color: #351C0A;
    font-size: 42px;
  }
  .about_container .section_content p {
    margin: 30px 0;
    width: 95%;
    font-size: 16px;
  }
  .about_container .section_photos {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0;
  }
  .about_container .section_photos .photos {
    display: none;
  }
  .about_container .section_photos .photos #img1, .about_container .section_photos .photos #img2, .about_container .section_photos .photos #img3 {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .about_container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #351C0A;
    padding: 80px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about_container .section_content {
    padding: 30px 20px;
    position: relative;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    background-color: rgb(255, 222, 197);
    text-align: justify;
    box-shadow: none;
    outline: 10px solid rgb(164, 113, 65);
    z-index: 1;
  }
  .about_container .section_content h2 {
    color: rgb(164, 113, 65);
    font-size: 1px;
  }
  .about_container .section_content h1 {
    color: #351C0A;
    font-size: 34px;
  }
  .about_container .section_content p {
    margin: 30px 0;
    width: 95%;
    font-size: 14px;
  }
  .about_container .section_photos {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    gap: 0;
  }
  .about_container .section_photos .photos {
    display: none;
  }
  .about_container .section_photos .photos #img1, .about_container .section_photos .photos #img2, .about_container .section_photos .photos #img3 {
    display: none;
  }
}/*# sourceMappingURL=about.css.map */