.contacts {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.contacts #ramo1 {
  position: absolute;
  bottom: -40px;
  left: 0;
  opacity: 80%;
}
.contacts #ramo2 {
  position: absolute;
  top: -40px;
  right: 0;
  opacity: 80%;
}
.contacts .contacts_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  background-color: rgba(164, 113, 65, 0.5);
  padding: 80px 0;
  color: #351C0A;
}
.contacts .contacts_container .contacts-contents {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 60%;
}
.contacts .contacts_container .contacts-contents h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.contacts .contacts_container .contacts-contents p {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(164, 113, 65);
  width: 95%;
  font-size: 18px;
}
.contacts .contacts_container .contacts-contents .content1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts .contacts_container .contacts-contents .content1 div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.contacts .contacts_container .contacts-contents .content2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: end;
}
.contacts .contacts_container .contacts-contents .content2 div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contacts .contacts_container .contacts-btn {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media (min-width: 720px) and (max-width: 980px) {
  .contacts {
    display: flex;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .contacts #ramo1 {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 180px;
    opacity: 80%;
  }
  .contacts #ramo2 {
    width: 180px;
    position: absolute;
    top: -40px;
    right: 0;
    opacity: 80%;
  }
  .contacts .contacts_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    background-color: rgba(164, 113, 65, 0.5);
    padding: 80px 0;
    color: #351C0A;
  }
  .contacts .contacts_container .contacts-contents {
    padding: 40px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
  }
  .contacts .contacts_container .contacts-contents h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .contacts .contacts_container .contacts-contents p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(164, 113, 65);
    width: 95%;
    font-size: 16px;
  }
  .contacts .contacts_container .contacts-contents .content1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .contacts .contacts_container .contacts-contents .content1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .contacts_container .contacts-contents .content2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: end;
  }
  .contacts .contacts_container .contacts-contents .content2 div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .contacts .contacts_container .contacts-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media (min-width: 520px) and (max-width: 720px) {
  .contacts {
    display: flex;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .contacts #ramo1 {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 120px;
    opacity: 80%;
  }
  .contacts #ramo2 {
    width: 120px;
    position: absolute;
    top: -10px;
    right: 0;
    opacity: 80%;
  }
  .contacts .contacts_container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(164, 113, 65, 0.5);
    padding: 50px 0;
    color: #351C0A;
  }
  .contacts .contacts_container .contacts-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
  }
  .contacts .contacts_container .contacts-contents h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .contacts .contacts_container .contacts-contents #barra {
    display: none;
  }
  .contacts .contacts_container .contacts-contents p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(164, 113, 65);
    width: 95%;
    font-size: 14px;
  }
  .contacts .contacts_container .contacts-contents .content1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts .contacts_container .contacts-contents .content1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .contacts_container .contacts-contents .content2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: start;
  }
  .contacts .contacts_container .contacts-contents .content2 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .contacts_container .contacts-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .contacts .contacts_container .contacts-btn img {
    width: 60px;
  }
}
@media (min-width: 320px) and (max-width: 520px) {
  .contacts {
    display: flex;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .contacts #ramo1 {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100px;
    opacity: 80%;
  }
  .contacts #ramo2 {
    width: 100px;
    position: absolute;
    top: -20px;
    right: 0;
    opacity: 80%;
  }
  .contacts .contacts_container {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(164, 113, 65, 0.5);
    padding: 50px 0;
    color: #351C0A;
  }
  .contacts .contacts_container h1 {
    font-size: 30px;
  }
  .contacts .contacts_container img {
    width: 90px;
  }
  .contacts .contacts_container .contacts-contents {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 60%;
  }
  .contacts .contacts_container .contacts-contents h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .contacts .contacts_container .contacts-contents #barra {
    display: none;
  }
  .contacts .contacts_container .contacts-contents p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: rgb(164, 113, 65);
    width: 95%;
    font-size: 14px;
  }
  .contacts .contacts_container .contacts-contents .content1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .contacts .contacts_container .contacts-contents .content1 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .contacts_container .contacts-contents .content2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: start;
  }
  .contacts .contacts_container .contacts-contents .content2 div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contacts .contacts_container .contacts-btn {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .contacts .contacts_container .contacts-btn img {
    width: 50px;
  }
}/*# sourceMappingURL=contacts.css.map */