.nav_container {
  width: 100%;
  height: 74px;
  background-color: rgb(255, 222, 197);
  display: flex;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  z-index: 2;
}
.nav_container #logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_container #logo img {
  width: 140px;
}
.nav_container #barra_lateral {
  display: none;
}
.nav_container .nav_sections {
  display: flex;
  justify-content: right;
  list-style: none;
  gap: 60px;
  flex-grow: 1;
  font-size: 16px;
}
.nav_container .nav_sections a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(89, 59, 33);
  text-decoration: none;
  padding: 8px 12px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}
.nav_container .nav_sections a:hover {
  border-bottom: 2px solid;
}

@media (min-width: 950px) and (max-width: 1200px) {
  .nav_container {
    width: 100%;
    height: 76px;
    background-color: rgb(255, 222, 197);
    display: flex;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    z-index: 2;
  }
  .nav_container #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_container #logo img {
    width: 140px;
  }
  .nav_container #barra_lateral {
    display: none;
  }
  .nav_container .nav_sections {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 60px;
    flex-grow: 1;
    font-size: 16px;
  }
  .nav_container .nav_sections a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(89, 59, 33);
    text-decoration: none;
    padding: 8px 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  .nav_container .nav_sections a:hover {
    border-bottom: 2px solid;
  }
}
@media (min-width: 780px) and (max-width: 950px) {
  .nav_container {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 222, 197);
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    z-index: 2;
  }
  .nav_container #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_container #logo img {
    width: 140px;
  }
  .nav_container #barra_lateral {
    display: none;
  }
  .nav_container .nav_sections {
    display: flex;
    justify-content: right;
    list-style: none;
    gap: 30px;
    flex-grow: 1;
    font-size: 14px;
  }
  .nav_container .nav_sections a {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(89, 59, 33);
    text-decoration: none;
    padding: 8px 0px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  .nav_container .nav_sections a:hover {
    border-bottom: 2px solid;
  }
}
@media (min-width: 375px) and (max-width: 780px) {
  .nav_container {
    width: 100%;
    height: 65px;
    background-color: rgb(255, 222, 197);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    z-index: 2;
  }
  .nav_container #logo {
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_container #logo img {
    width: 140px;
  }
  .nav_container #barra_lateral {
    background-color: transparent;
    display: flex;
    position: absolute;
    right: 15px;
    cursor: pointer;
  }
  .nav_container #barra_lateral img {
    width: 40px;
  }
  .nav_container .nav_sections {
    display: none;
  }
  .nav_container .nav_sections-active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    position: absolute;
    top: 65px;
    right: 0;
    background-color: rgb(255, 222, 197);
    padding: 20px 30px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 0;
    gap: 30px;
    font-size: 14px;
  }
  .nav_container .nav_sections-active li {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_container .nav_sections-active a, .nav_container .nav_sections-active li {
    width: 100%;
    height: 45px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgb(89, 59, 33);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  .nav_container .nav_sections-active a:hover, .nav_container .nav_sections-active li:hover {
    border: none;
    border-radius: 20px;
    background-color: rgb(89, 59, 33);
    color: rgb(255, 222, 197);
  }
  .nav_container .nav_sections-active a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=navbar.css.map */